@font-face {
    font-family: 'Handjet';
    src: url(fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

@font-face {
    font-family: 'Lato Regular';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato Bold';
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato Light';
    src: url(fonts/Lato-Light.ttf);
}

:root {
    --azul-gameinova: #5141D1;
    --azul-escuro-gameinova: #342985;
    --azul-maisescuro-gameinova: #271F63;
    --laranja-gameinova: #F7A578;
    --laranja-escuro-gameinova: #F47E3E;
    --amarelo-gameinova: #FFE882;
    --branco-gameinova: #FDF7FA;
    --preto-gameinova: #242325;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--azul-escuro-gameinova);
}

.alinhamento {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.funcoes {
    margin-top: 70vh;
    width: 70px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.funcoes button {
    height: 50px;
    width: 50px;
    color: var(--preto-gameinova);
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 500ms;
}

.funcoes svg {
    height: 40px;
    width: 40px;
}

.funcoes button:hover {
    background-color: var(--laranja-escuro-gameinova);
}

.container-grid {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    height: 165px;
    width: 100%;
    background-color: var(--azul-maisescuro-gameinova);
    position: fixed;
    z-index: 2;
}

header button {
    display: none;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 167px;
    height: 139px;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: var(--branco-gameinova);
    font-size: 42px;
    font-family: 'Handjet';
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    color: var(--laranja-escuro-gameinova);
    text-decoration-color: var(--laranja-escuro-gameinova);
}

.espaco-invisivel {
    height: 165px;
}

.banner {
    height: 500px;
    background-image: linear-gradient(90deg, rgba(81,65,209,1) 0%, rgba(81,65,209,0.6) 100%), url(img/cidade-banner.png);
    background-position: 100% 0%;
    margin-bottom: 35px;
}

.conteudo-banner {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: var(--branco-gameinova);
    font-family: 'Lato Bold';
    font-size: 42px;
    text-align: center;
}

.conteudo-banner span {
    color: var(--laranja-gameinova);
}

#sobre-nos {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    margin-bottom: 35px;
}

#sobre-nos.container-grid,
#solucoes.container-grid,
#contato.container-grid {
    background-color: var(--azul-gameinova);
}


h2 {
    font-family: 'Handjet';
    font-size: 42px;
    text-align: center;
    color: var(--preto-gameinova);
    background-color: var(--amarelo-gameinova);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

.conteudo-sobre {
    width: 50%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 25px;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
}

.conteudo-sobre p {
    font-family: 'Lato Regular';
    font-size: 20px;
    color: var(--branco-gameinova);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.imagem-fachada {
    width: 45%;
}

#sobre-nos img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#solucoes {
    height: 670px;
    padding: 35px;
    margin-bottom: 35px;
}

.conteudo-solucoes {
    background-color: var(--azul-escuro-gameinova);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.campo-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.campo-pesquisa label {
    font-family: 'Lato Regular';
    font-size: 20px;
    color: var(--branco-gameinova);
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.campo-pesquisa select {
    font-family: 'Lato Regular';
    font-size: 20px;
    width: 500px;
    border-radius: 15px;
    padding: 5px;
    text-indent: 5px;
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    cursor: pointer;
}

.campo-pesquisa select:focus {
    outline: 2px solid var(--laranja-escuro-gameinova);
}

.container-cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 430px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-maisescuro-gameinova);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card img {
    height: 40%;
    width: 100%;
    border-radius: 15px 15px 0 0; 
}

h3 {
    font-family: 'Lato Bold';
    font-size: 20px;
    text-align: center;
    color: var(--branco-gameinova);
}

.card p {
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
    padding: 5%;
}

.card button {
    width: 80%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

.card button:hover, #portfolio button:hover, #contato form button:hover {
    background-color: var(--laranja-escuro-gameinova);
}

#portfolio {
    height: 270px;
    padding: 35px;
    margin-bottom: 35px;
}

#portfolio.container-grid {
    background-color: var(--azul-gameinova);
    background-image: linear-gradient(90deg, rgba(81,65,209,0.6) 0%, rgba(81,65,209,0.6) 100%), url(img/fundo-portfolio.png);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: 100% 0;
}

.conteudo-portfolio {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto-portfolio {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#portfolio h2 {
    width: 100%;
}

.texto-portfolio p {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 0 0 25px 25px;
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
}

.botao-portfolio {
    width: 45%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
}

#portfolio button {
    width: 30%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

#contato {
    height: 600px;
    padding: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-contato {
    width: 45%;
    height: 100%;
}

.texto-contato p {
    width: 100%;
    height: 84%;
    padding: 5%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 0 0 25px 25px;
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
}

#contato form {
    width: 45%;
    background-color: var(--azul-escuro-gameinova);
    font-family: 'Lato Bold';
    color: var(--branco-gameinova);
    border-radius: 25px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato form label {
    margin-bottom: 12px;
    font-size: 17px;
}

.campo {
    width: 100%;
    margin-bottom: 17px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea {
    width: 100%;
    margin-bottom: 17px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 35px;
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    border: none;
    border-radius: 15px;
    outline: none;
    text-indent: 10px;
    font-family: 'Lato Regular';
    font-size: 17px;
}

.campo-textarea textarea {
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Lato Regular';
    font-size: 17px;
    outline: none;
    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-escuro-gameinova);
}

#contato form button {
    width: 100%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

footer {
    height: 400px;
    background-color: var(--azul-maisescuro-gameinova);
}

footer h2 {
    background-color: unset;
    color: var(--branco-gameinova);
    font-weight: 500;
}

footer .container-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grupo-um, .grupo-dois {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grupo-um p, .grupo-dois p {
    color: var(--branco-gameinova);
    font-family: 'Lato Regular';
    font-size: 17px;
    text-align: center;
}

.outros-contatos, .contato-fundadores {
    width: 45%;
}

.icones-redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icones-redes a {
    color: var(--laranja-gameinova);
}

.icones-redes a:hover {
    color: var(--laranja-escuro-gameinova);
}

.contato-fundadores p {
    margin-bottom: 10px;
}

.logo-ano {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacoes-empresa {
    width: 45%;
}

.logo-ano img {
    height: 45px;
    width: 55px;
}

.menu-fechado {
    display: none;
}

#icone-x {
    display: none;
}

@media screen and (max-width: 1250px) {
    .menu {
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 32px;
        padding: 14px;
    }

    #sobre-nos {
        height: 500px;
    }
    
    .conteudo-sobre p {
        font-size: 17px;
    }

    #solucoes {
        height: 655px;
    }
    
    .campo-pesquisa {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }
    
    .campo-pesquisa label {
        width: 40%;
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
        margin-right: unset;
    }
    
    .campo-pesquisa select {
        font-size: 18px;
        width: 40%;
        margin-bottom: 15px;
    }
    
    .card {
        height: 370px;
        width: 200px;
    }

    h3 {
        font-size: 17px;
    }

    .card p {
        font-size: 14px;
    }
    
    .card button {
        height: 30px;
        font-size: 15px;
    }

    .texto-contato {
        width: 47%;
    }
    
    .texto-contato p {
        width: 100%;
        height: 88%;
    }
    
    #contato form {
        width: 47%;
    }

    .icones-redes svg {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width: 1150px) {
    header button {
        width: 50px;
        display: unset;
        background: none;
        border: none;
    }

    header svg {
        fill: var(--laranja-gameinova);
    }

    nav.menu {
        height: 500px;
        width: 350px;
        padding: 0px 30px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #271F63f0;
        position: absolute;
        top: 165px;
        right: 0px;
    }
}

@media screen and (max-width: 1100px) {
    header, .espaco-invisivel {
        height: 140px;
    }
    
    header img {
        width: 127px;
        height: 99px;
    }

    nav.menu {
        top: 140px;
    }

    .texto-portfolio {
        width: 47%;
        height: 100%;
    }
    
    .botao-portfolio {
        width: 47%;
        padding-left: 10%;
    }

    #portfolio button {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    #solucoes {
        height: 1080px;
    }
    
    .conteudo-banner p {
        font-size: 32px;
    }

    .conteudo-sobre p,
    .texto-portfolio p,
    .texto-contato p {
        font-size: 15px;
    }

    .container-cards {
        flex-wrap: wrap;
    }

    .card {
        height: 400px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    #portfolio.container-grid {
        background-size: 47% 100%;
    }
}

@media screen and (max-width: 900px) {
    .container-grid {
        width: 90%;
    }

    #sobre-nos {
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        margin-bottom: 25px;
        align-items: center;
    }

    .conteudo-sobre {
        width: 100%;
        height: 100%;
        border-radius: unset;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .conteudo-sobre p {
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .imagem-fachada {
        width: 100%;
        height: 50%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: var(--azul-escuro-gameinova);
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        padding-left: 30%;
        padding-right: 30%;
    }

    #solucoes,
    #portfolio {
        padding: 25px;
        height: auto;
    }

    .conteudo-solucoes {
        padding: 25px;
    }

    .botao-portfolio {
        width: 47%;
        padding-left: 5%;
    }

    #portfolio button {
        width: 50%;
    }

    #contato {
        height: auto;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .texto-contato {
        width: 100%;
    }

    .texto-contato p {
        padding: 20px;
        height: auto;
        border-radius: unset;
    }

    #contato form {
        width: 100%;
        border-radius: unset;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    #contato form label {
        margin-bottom: 9px;
        font-size: 15px;
    }
    
    .campo {
        margin-bottom: 13px;
    }
    
    .campo-textarea {
        margin-bottom: 13px;
    }
    
    .campo input {
        height: 25px;
        font-size: 15px;
    }
    
    .campo-textarea textarea {
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) {
    .card {
        flex-basis: 45%;
    }
    
    .campo-pesquisa label {
        width: 60%;
        font-size: 15px;
        margin-bottom: 12px;
    }
    
    .campo-pesquisa select {
        font-size: 15px;
        width: 50%;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 800px) {
    header, .espaco-invisivel {
        height: 100px;
    }

    header button {
        width: 40px;
    }
    
    header img {
        width: 107px;
        height: 79px;
    }

    nav.menu {
        top: 100px;
    }
    
    footer {
        height: unset;
    }

    .grupo-um, .grupo-dois {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer {
        height: 450px;
        background-color: var(--azul-maisescuro-gameinova);
    }
    
    footer h2 {
        font-size: 26px;
    }
    
    .grupo-um p, .grupo-dois p {
        font-size: 15px;
    }
    
    .outros-contatos, .contato-fundadores {
        width: 100%;
    }
    
    .icones-redes {
        width: 100%;
        padding-right: 30%;
        padding-left: 30%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .icones-redes svg {
        height: 50px;
        width: 50px;
    }
    
    .contato-fundadores p {
        margin-bottom: 10px;
    }
    
    .logo-ano {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .informacoes-empresa {
        width: 100%;
    }

    .informacoes-empresa p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 650px) {
    .conteudo-banner p {
        font-size: 22px;
    }

    .imagem-fachada {
        height: 45%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #cases.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards {
        flex-wrap: nowrap;
        gap: 40px;
        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;
        flex-basis: unset;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portfolio {
        height: 400px;
    }
    
    #portfolio.container-grid {
        background-size: 50% 50%;
        background-position: 50% 100%;
    }
    
    .conteudo-portfolio {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .texto-portfolio {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }
    
    .texto-portfolio p {
        width: 100%;
        height: 100%;
        padding: 3%;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .botao-portfolio {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-top: 10%;
    }
    
    #portfolio button {
        width: 30%;
    }

    .icones-redes {
        padding-right: 20%;
        padding-left: 20%;
    }
}

@media screen and (max-width: 510px) {
    header, .espaco-invisivel {
        height: 80px;
    }
    
    header img {
        width: 97px;
        height: 69px;
    }

    nav.menu {
        top: 80px;
    }
    
    .imagem-fachada {
        height: 40%;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .campo-pesquisa label {
        width: 80%;
    }
    
    .campo-pesquisa select {
        width: 60%;
    }

    .card {
        height: 380px;
        width: 240px;
        flex-basis: unset;
    }

    #portfolio.container-grid {
        background-size: 65% 50%;
    }
}

@media screen and (max-width: 450px) {
    .imagem-fachada {
        height: 35%;
    }

    .botao-portfolio {
        padding-top: 15%;
    }

    .icones-redes {
        padding-right: 10%;
        padding-left: 10%;
    }
}

@media screen and (max-width: 400px) {
    #sobre-nos,
    #solucoes,
    #portfolio,
    #contato {
        padding: 15px;
    }
    
    .conteudo-sobre p {
        font-size: 14px;
    }

    .card {
        height: 380px;
        width: 210px;
    }

    .card:first-child {
        margin-left: 15px;
    }

    .card:last-child {
        margin-right: 15px;
    }

    #portfolio.container-grid {
        background-size: 85% 50%;
    }

    #portfolio button {
        width: 40%;
    }
}