@font-face {
    font-family: 'Handjet';
    src: url(fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

@font-face {
    font-family: 'Lato Regular';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato Bold';
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato Light';
    src: url(fonts/Lato-Light.ttf);
}

:root {
    --azul-gameinova: #5141D1;
    --azul-escuro-gameinova: #342985;
    --azul-maisescuro-gameinova: #271F63;
    --laranja-gameinova: #F7A578;
    --laranja-escuro-gameinova: #F47E3E;
    --amarelo-gameinova: #FFE882;
    --branco-gameinova: #FDF7FA;
    --preto-gameinova: #242325;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--azul-escuro-gameinova);
}

.container-grid {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    height: 165px;
    background-color: var(--azul-maisescuro-gameinova);
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 167px;
    height: 139px;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    color: var(--branco-gameinova);
    font-size: 42px;
    font-family: 'Handjet';
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    color: var(--laranja-escuro-gameinova);
    text-decoration-color: var(--laranja-escuro-gameinova);
}

.banner {
    height: 500px;
    background-image: linear-gradient(90deg, rgba(81,65,209,1) 0%, rgba(81,65,209,0.6) 100%), url(img/cidade-banner-naofinalizado.png);
    background-position: 100% 0%;
    margin-bottom: 35px;
}

.conteudo-banner {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
}

.conteudo-banner p {
    color: var(--branco-gameinova);
    font-family: 'Lato Bold';
    font-size: 42px;
    text-align: center;
}

.conteudo-banner span {
    color: var(--laranja-gameinova);
}

#sobre-nos {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    margin-bottom: 35px;
}

#sobre-nos.container-grid,
#solucoes.container-grid,
#contato.container-grid {
    background-color: var(--azul-gameinova);
}


h2 {
    font-family: 'Handjet';
    font-size: 42px;
    text-align: center;
    color: var(--preto-gameinova);
    background-color: var(--amarelo-gameinova);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

.conteudo-sobre {
    width: 50%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 25px;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
}

.conteudo-sobre p {
    font-family: 'Lato Regular';
    font-size: 20px;
    color: var(--branco-gameinova);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#sobre-nos img {
    width: 45%;
    border-radius: 25px;
}

#solucoes {
    height: 670px;
    padding: 35px;
    margin-bottom: 35px;
}

.conteudo-solucoes {
    background-color: var(--azul-escuro-gameinova);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.campo-pesquisa label {
    font-family: 'Lato Regular';
    font-size: 20px;
    color: var(--branco-gameinova);
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.campo-pesquisa select {
    font-family: 'Lato Regular';
    font-size: 20px;
    width: 500px;
    border-radius: 15px;
    padding: 5px;
    text-indent: 5px;
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    cursor: pointer;
}

.campo-pesquisa select:focus {
    outline: 2px solid var(--laranja-escuro-gameinova);
}

.container-cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 430px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-maisescuro-gameinova);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card img {
    height: 40%;
    width: 100%;
    border-radius: 15px 15px 0 0; 
}

h3 {
    font-family: 'Lato Bold';
    font-size: 20px;
    text-align: center;
    color: var(--branco-gameinova);
}

.card p {
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
    padding: 5%;
}

.card button {
    width: 80%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

.card button:hover, #portfolio button:hover, #contato form button:hover {
    background-color: var(--laranja-escuro-gameinova);
}

#portfolio {
    height: 270px;
    padding: 35px;
    margin-bottom: 35px;
}

#portfolio.container-grid {
    background-color: var(--azul-gameinova);
    background-image: linear-gradient(90deg, rgba(81,65,209,0.6) 0%, rgba(81,65,209,0.6) 100%), url(https://unsplash.it/500/400);
    background-repeat: no-repeat;
    background-size: 45% 100%;
    background-position: 100% 0;
}

.conteudo-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto-portfolio {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#portfolio h2 {
    width: 100%;
}

#portfolio p {
    width: 100%;
    padding: 5%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 0 0 25px 25px;
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
}

.botao-portfolio {
    width: 45%;
    display: flex;
    justify-content: center;
    padding-left: 5%;
}

#portfolio button {
    width: 30%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

#contato {
    height: 600px;
    padding: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-contato {
    width: 45%;
    height: 100%;
}

.texto-contato p {
    width: 100%;
    height: 84%;
    padding: 5%;
    background-color: var(--azul-escuro-gameinova);
    border-radius: 0 0 25px 25px;
    font-family: 'Lato Regular';
    font-size: 17px;
    color: var(--branco-gameinova);
}

#contato form {
    width: 45%;
    background-color: var(--azul-escuro-gameinova);
    font-family: 'Lato Bold';
    color: var(--branco-gameinova);
    border-radius: 25px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato form label {
    margin-bottom: 12px;
    font-size: 17px;
}

.campo {
    width: 100%;
    margin-bottom: 17px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-textarea {
    width: 100%;
    margin-bottom: 17px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 35px;
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    border: none;
    border-radius: 15px;
    outline: none;
    text-indent: 10px;
    font-family: 'Lato Regular';
    font-size: 17px;
}

.campo-textarea textarea {
    color: var(--preto-gameinova);
    background-color: var(--branco-gameinova);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Lato Regular';
    font-size: 17px;
    outline: none;
    resize: none;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--laranja-escuro-gameinova);
}

#contato form button {
    width: 100%;
    height: 35px;
    background-color: var(--laranja-gameinova);
    border: none;
    border-radius: 20px;
    color: var(--preto-gameinova);
    font-family: 'Lato Bold';
    font-size: 17px;
    cursor: pointer;
    transition: background-color 500ms;
}

footer {
    height: 400px;
    background-color: var(--azul-maisescuro-gameinova);
}

footer h2 {
    background-color: unset;
    color: var(--branco-gameinova);
    font-weight: 500;
}

footer .container-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grupo-um, .grupo-dois {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grupo-um p, .grupo-dois p {
    color: var(--branco-gameinova);
    font-family: 'Lato Regular';
    font-size: 17px;
    text-align: center;
}

.outros-contatos, .contato-fundadores {
    width: 45%;
}

.icones-redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icones-redes a {
    color: var(--laranja-gameinova);
}

.icones-redes a:hover {
    color: var(--laranja-escuro-gameinova);
}

.contato-fundadores p {
    margin-bottom: 10px;
}

.logo-ano {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacoes-empresa {
    width: 45%;
}

.logo-ano img {
    height: 45px;
    width: 55px;
}